<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
<string>http://cp01-hao123-11.epc.baidu.com:8338/static/download/ipa/minivideo_build_output/debug/2.3.5/2020_02_05_145340/minivideo.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://cp01-hao123-11.epc.baidu.com:8338/static/dayan.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://cp01-hao123-11.epc.baidu.com:8338/static/dayan.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.baidu.minivideo-test</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>测试</string>
				<key>title</key>
				<string>小视频daily</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>